[submodule "deps/msgpack-c"]
	path = deps/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "deps/traildb"]
	path = deps/traildb
	url = https://github.com/traildb/traildb.git
[submodule "deps/traildb-python"]
	path = deps/traildb-python
	url = https://github.com/traildb/traildb-python.git
[submodule "deps/protobuf-c"]
	path = deps/protobuf-c
	url = git@github.com:protobuf-c/protobuf-c.git
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = git@github.com:google/protobuf.git
